@font-face{
	font-family: "Roboto";
  	src: url("Roboto-Regular.ttf");
}
body, html{
	margin: 0;
	padding: 0;
	font-family: Roboto;

}
.page{
	
	width: 100%;
	}
.logo{
	width: 100%;
}
.logo>img{
	height: 100%;
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
	
}

.GPS{
	background-color: #E6E9EE;
	box-shadow: inset 5px 15px 5px -10px #c0c0c0; 
	display: flex;
	flex-direction: row;
	justify-content: center;
	font-weight: bold;

}



.blocreservation{
	background-color: #F5F5F5; 
	display: flex;
	flex-direction: column;
	
	align-items: center;
	padding-top: 30px;
	padding-bottom: 50px;

}
.reservegras{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-bottom: 1px;
	margin-top: 15px;



}

.decouverte{
	text-align: center;
	font-size: 25px;
}
.restaurantLink{
	width: 90%;
	height: 300px;
	margin: 30px auto;
	border-radius: 10px;
	box-shadow: 0 0 5px silver;
	display: block;
	position: relative;
	text-decoration: none;

}
.titrefonctionnement{
	font-weight: bold;
	padding-left: 20px;
	font-size: 25px;
	margin-top: 50px;

	
}
.blocfonctionnement{
	border-radius: 20px;
	box-shadow: 0 0 5px silver;
	display: flex;
	flex-direction: row;
	margin: 20px;
	box-shadow: 0px 8px 7px #c0c0c0;
	position: relative;

}
.textblocfonctionnement > div {
	position: absolute;
	left: 12%;
}

.textblocfonctionnement{
	font-weight: bold;
	position: relative;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 100%;

}
.textblocfonctionnement > div > i{
	color: gray;
}
.fonctionnementnombre{
	position: absolute;
	top: 50%;
	background-color: #9356DC;
	color: white;
	height: 25px;
	width: 25px;
	border-radius: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	line-height: 25px;

}
.restaurantLink{
	text-decoration: none;
	color: black;
}
.restaurantLink > img{
	width: 100%;
	height: 200px;
	object-fit: cover;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
.restaurantLink > div {
	display: flex;
	justify-content: space-between;
}
.coeur{
	margin-top: auto;
	margin-bottom: auto;
	padding-right: 20px;
	font-size: 35px;
}
.newRestaurant {
	display: block;
	text-align: center;
	height: 25px;
	width: 150px;
	position: absolute;
	top:10px;
	right: 10px;
	background: green;
}
input{
	display: block;
	border-radius: 20px;
	color: white;
	padding: 10px;
	background: linear-gradient(#FF79DA , #9356DC);
	border:none;
	margin: 0 auto;

}
.name{
	font-weight: bold;
	color: black;
	font-size: 20px;
	padding-left: 10px;
	margin-bottom: 10px;

}
.spe{
	font-size: 20px;
	padding-left: 10px;
	margin-top: 10px;
}

.lienrestaurants{
	width: 100%;
}
.Restaurant{
	width: 100%;
}

footer{
	width: 100%;
	background-color: black;
	color: white;
	
	padding-top: 30px;
	padding-bottom: 30px;

}
footer>img {
	width: 30%;
}
.hautdelapage{
	width: 100%;
}
.newRestaurant{
	padding-top: 5px;
	background-color: #99E2D0;
	color: green;
	font-weight: bold;
	border-radius: 5px;

}
.titrerestaurant{
	font-weight: bold;
	font-size: 25px;
	padding-left: 20px;
	margin-top: 50px;
}

.imagerestaurantdeux{
	width: 100%;
	height: 200px;
}