@font-face{
	font-family: "Roboto";
  	src: url("Roboto-Regular.ttf");
}
@font-face{
	font-family: "Shrikhand-Regular";
  	src: url("Shrikhand-Regular.ttf");
}
body, html{
	margin: 0;
	padding: 0;
	font-family: Roboto;

}


.conteneurprincipal{
	width: 100%;
    background-color: #F5F5F5;
    z-index: 10;
	position: relative;
	width: 100%;
	margin-top: 185px;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.page{
	
	width: 100%;
	}
.logo{
	width: 100%;

}

.logo>img{
	height: 100%;
	width: 50%;
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
    margin-bottom: 15px;
	
}
.fleche{
	position: absolute;
	z-index: 10;
	top:20px;
	left: 20px;
	color: #2F4F4F;

}
.imagerestaurantdeux{
	width: 100%;
	height: 200px;
	position: absolute;
	top: 65px;
	left: 0px;
	z-index: 0;
	object-fit: cover;
}
.titre{
	display: flex;
	flex-direction: row;
	padding-top: 20px;
	justify-content: space-between;
	padding-right: 17px;
	padding-left: 22px;
}
.titre>p{
	font-weight: bold;
	font-family: "Shrikhand-Regular";
	font-size:27px;
	text-align: center;

}
.conteneurcoeur{
	
	position: relative;
	height: 40px;
	width: 40px;
	margin-top: 30px;


}
.coeur{
	display: block;
	font-size: 26px;
	position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    opacity: 0;
    transition: 3s;
    background: -webkit-linear-gradient(#9356DC, #FF79DA );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
   
   
}
.coeur:hover{
	opacity: 1;
}
.coeur:hover ~ .coeur2 {
	opacity: 0;
}
.coeur2{
	font-size: 26px;
	position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    display: block;
  
}

.titrestyledeplat{
	padding-left: 20px;
	margin-top: 40px;
}
.titrestyledeplat>p{
	margin-bottom: 0px;
	font-size: 20px;

}
.trait{
	height: 3px;
	width: 45px;
	background-color:#99E2D0;
	margin-top: 5px;

}
.lesplats{
	background-color: white;
	border-radius: 20px;
	box-shadow: 0 0 5px silver;
	display: flex;
	flex-direction: row;
	margin: 20px;
	box-shadow: 0px 8px 7px #c0c0c0;
	position: relative;
	height: 70px;
	width: 90%;
	overflow: hidden;
	transition: 0s;
}
.prix{
	position: absolute;
	bottom: 12px;
	right: 20px;
	transition: 1s;
	font-weight: bold;
	font-size: 14px;
	color: #2F4F4F;
}
.lesplats:hover > .prix{
	transform: translateX(-100px);

}
.blocplats>p{
	font-size: 1px;
}
.Plats{
	font-weight: bold;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 300px;
	display: block;
	background-color: white;
	overflow: hidden;
	transition: 1s;
	font-size: 15px;
	margin: 0 0 3px 0;

}
.nomplats>.description{
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	background-color: white;
	overflow: hidden;
	transition: 1s;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 300px;
	font-size: 14px;
}

.nomplats{
	margin-top: 15px;
	margin-left: 10px;
	margin-bottom: 10px;
}
.lesplats:hover  .Plats{
	width: 150px;

}
.lesplats:hover .description{
	width: 150px;
}
footer{
	width: 100%;
	background-color: black;
	color: white;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 30px;

}
.lienrestaurants{
	width: 100%;
	padding-bottom: 60px;

}
input{
	width: 200px;
	display: block;
	border-radius: 20px;
	color: white;
	padding: 10px;
	background: linear-gradient(#FF79DA , #9356DC);
	border:none;
	margin: 0 auto;
	margin-top: 50px;
}
footer>img {
	width: 30%;
}
.basdepage{
	width: 90%;
}
.hautdelapage{
	width: 100%;
}
.carre{
	height: 70px;
	width: 100px;
	background-color: #99E2D0;
	position: absolute;
	top: 0;
	right: 0;
	transform: translateX(100%);
	transition: 1s;
	display: flex;
	justify-content: center;
	font-size: 35px;
	color: white;
	align-items: center;
	
}
.lesplats:hover > .carre{
	transform: translateX(0%);
}

.carre>i{
	transform: rotate(0deg);
	transition: 1s;
}
.lesplats:hover > .carre >i{
	transform: rotate(350deg);
}


.contact{
	color: white;
	text-decoration: none;
}

@keyframes animationblocplats{
	0%{
		opacity: 0;
		transform: translateY(25%);
	}
	100%{
		opacity: 1;
		transform: translateY(0%);
	}

}

.styleplat{
	opacity: 0;

}
.anime1{
	animation-delay: 0s;
	animation-name: animationblocplats;
	animation-duration:1s;
	animation-fill-mode: forwards;
}
.anime2{
	animation-delay: 1s;
	animation-name: animationblocplats;
	animation-duration:1s;
	animation-fill-mode: forwards;

}
.anime3{
	animation-delay: 2s;
	animation-name: animationblocplats;
	animation-duration:1s;
	animation-fill-mode: forwards;

}